@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5
}

code, kbd, .line-number {
  font-family: 'Fira Mono', monospace;
}

.v-application--wrap {
  min-height: auto;
}
