@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
}

p {
  margin: 1rem 0;
}

.custom-block.tip {
  border-color: #2196f3;
}

code, kbd, .line-number {
  font-family: 'Fira Mono', monospace !important;
}

.v-application--wrap {
  margin: 0 -12px
  min-height: auto !important;
}

.home .feature h2 {
  margin: 1rem 0;
}
