@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5
}

code, kbd, .line-number {
  font-family: 'Fira Mono', monospace;
}


.demo {
  line-height: 1.5;
  font-size: 14px;
  background-color: #f6f8fa;
  padding: 24px;
  margin-top: 16px;
}

.demo__options {
  margin-top: 16px;

  p {
    display: flex;
    align-items: center;
    margin: 0 0 4px 0;
  }

  label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 16px;

    span {
      width: 70px;

      &:not(last-child) {
        margin-right: 8px;
      }
    }
  }

  select, input {
    margin: 0;
    font-size: 14px;
  }

  select {
    padding 2px 4px;
    min-width: 80px;
  }

  input + span {
    margin-left: 4px;
    width: auto;
  }
}

.demo__currency-input {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 8px 12px;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #E2E4E6;
  border-radius: 4px;
}

